{% extends "main.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <body class="u-body u-xxl-mode" data-lang="en">
    <!-- ! Landing Section -->
    <section class="u-clearfix u-custom-color-1 u-section-1" id="sec-c45a" style="max-height: 100vh; overflow:hidden;">
      <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-align-left u-image u-image-circle u-image-1" style="margin-left: 50%;" src="{% static 'images/Obverse_-_10_Pahlavi_Golden_Coin_1976.jpeg' %}" data-image-width="2048" data-image-height="2028">
        <div class="u-align-left u-container-style u-expanded-width-xs u-group u-shape-rectangle u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
          <div class="u-container-layout u-container-layout-1">
            <h1 class="u-custom-font u-text u-text-body-alt-color u-text-1">Zbirka Kovancev</h1>
            <p class="u-text u-text-2">
              <span style="font-weight: 700;">Ogromna zbirka kovancev iz celega sveta!</span>
              <br>
            </p>
            <a href="DISCOVER" class="u-active-black u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn u-button-style u-hover-white u-none u-text-active-white u-text-hover-black u-btn-1">ODKRIJ</a>
          </div>
        </div>
        <img class="u-flip-horizontal u-image u-image-circle u-preserve-proportions u-image-2" src="{% static 'images/coin2.png' %}" alt="" data-image-width="1920" data-image-height="1920">
      </div>
    </section>
    <!-- ! Discover with Stories -->
    <section class="u-align-center u-clearfix u-section-2" id="carousel_1a16">
      <div class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-align-left-xs u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default-xl u-text-1">Odkrij zgodbo za kovancem</h2>
        <p class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xs u-custom-font u-font-arial u-text u-text-2">Odkrijte svet numizmatike z tematskimi, interaktivnimi zgodbami, katere so polne znanja<br>in informacij!
        </p>
        <div class="u-expanded-width u-layout-horizontal u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-bottom-xxl u-container-layout-1">
                <div class="u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-expanded-width-xxl u-group u-shape-rectangle u-group-1">
                  <div class="u-container-layout u-container-layout-2">
                    <h4 class="u-text u-text-3">Po nekdanji Jugoslaviji</h4>
                    <p class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-4">Odkrijte placilna sredstva nekdanje Jugoslavije</p>
                    <img class="u-expanded-width u-image u-image-default u-image-1" src="images/image.png" alt="" data-image-width="620" data-image-height="334">
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-bottom-xxl u-container-layout-3">
                <div class="u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-expanded-width-xxl u-group u-shape-rectangle u-group-2">
                  <div class="u-container-layout u-container-layout-4">
                    <h4 class="u-text u-text-5">Od zacetka, vse do danes,&nbsp; raziscite Slovenijo</h4>
                    <p class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-6">Sample text. Click to select the Text Element.</p>
                    <img class="u-expanded-width u-image u-image-default u-image-2" src="images/image2.png" alt="" data-image-width="1920" data-image-height="1011">
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-bottom-xxl u-container-layout-5">
                <div class="u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-expanded-width-xxl u-group u-shape-rectangle u-group-3">
                  <div class="u-container-layout u-container-layout-6">
                    <h4 class="u-text u-text-7">Cez atlantski ocean</h4>
                    <p class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-8">Sample text. Click to select the Text Element.</p>
                    <img class="u-expanded-width u-image u-image-default u-image-3" src="images/redcharlie-LQK8R7wjv4w.jpg" alt="" data-image-width="1920" data-image-height="1120">
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-bottom-xxl u-container-layout-7">
                <div class="u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-expanded-width-xxl u-group u-shape-rectangle u-group-4">
                  <div class="u-container-layout u-container-layout-8">
                    <h4 class="u-text u-text-9">Proti vzhodu, raziscite nekdanjo Sovjetsko Zvezo</h4>
                    <p class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-10">Sample text. Click to select the Text Element.</p>
                    <img class="u-expanded-width u-image u-image-default u-image-4" src="{% static 'images/image4.png' %}" alt="" data-image-width="1920" data-image-height="1080">
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-bottom-xxl u-container-layout-9">
                <div class="u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-expanded-width-xxl u-group u-shape-rectangle u-group-5">
                  <div class="u-container-layout u-container-layout-10">
                    <h4 class="u-text u-text-11">Evropa, v vsej velicini</h4>
                    <p class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-12">Sample text. Click to select the Text Element.</p>
                    <img class="u-expanded-width u-image u-image-default u-image-5" src="images/image5.png" alt="" data-image-width="1200" data-image-height="900">
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-bottom-xxl u-container-layout-11">
                <div class="u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-expanded-width-xxl u-group u-shape-rectangle u-group-6">
                  <div class="u-container-layout u-container-layout-12">
                    <h4 class="u-text u-text-13">Spomni se naslov, se ne mudi</h4>
                    <p class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-14">Sample text. Click to select the Text Element.</p>
                    <img class="u-expanded-width u-image u-image-default u-image-6" src="images/chandler-chen-aEJVd7WUjf8.jpg" alt="" data-image-width="6000" data-image-height="4000">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-1" href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.847 451.847">
                  <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
  c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
  c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
              <span class="sr-only">
                <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
  c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
  c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
              </span>
            </a>
            <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-2" href="#" role="button">
              <span aria-hidden="true">
                <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
  L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
  c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
              </span>
              <span class="sr-only">
                <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
  L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
  c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
              </span>
            </a>
        </div>
      </div>
    </section>
    <!-- ! Browse by topics -->
    <section class="u-align-center u-border-17 u-border-grey-75 u-border-no-left u-border-no-right u-clearfix u-image u-shading u-section-3" id="sec-4dd8" data-image-width="1383" data-image-height="600">
      <div class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-align-left-xs u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-center-xs u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-1">Razisci preko teme</h2>
        <div class="u-expanded-width u-layout-horizontal u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-align-left-xs u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <div class="u-align-center u-container-style u-group u-hover-feature u-palette-2-base u-radius-15 u-shape-round u-group-1">
                  <div class="u-container-layout u-valign-middle-xxl u-container-layout-2">
                    <h4 class="u-align-center u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-2">Evropa</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <div class="u-align-center u-container-style u-group u-hover-feature u-palette-2-base u-radius-15 u-shape-round u-group-2">
                  <div class="u-container-layout u-valign-middle-xxl u-container-layout-4">
                    <h4 class="u-align-center u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-3">Pravkar dodano</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-5">
                <div class="u-align-center u-container-style u-group u-hover-feature u-palette-2-base u-radius-15 u-shape-round u-group-3">
                  <div class="u-container-layout u-valign-middle-xxl u-container-layout-6">
                    <h4 class="u-align-center u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-4">Najbolj ogledano</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-7">
                <div class="u-align-center u-container-style u-group u-hover-feature u-palette-2-base u-radius-15 u-shape-round u-group-4">
                  <div class="u-container-layout u-valign-middle-xxl u-container-layout-8">
                    <h4 class="u-align-center u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-5">Slovenija</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-9">
                <div class="u-align-center u-container-style u-group u-hover-feature u-palette-2-base u-radius-15 u-shape-round u-group-5">
                  <div class="u-container-layout u-valign-middle-xxl u-container-layout-10">
                    <h4 class="u-align-center u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-6">Sample Headline</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-11">
                <div class="u-align-center u-container-style u-group u-hover-feature u-palette-2-base u-radius-15 u-shape-round u-group-6">
                  <div class="u-container-layout u-valign-middle-xxl u-container-layout-12">
                    <h4 class="u-align-center u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-7">Sample Headline</h4>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-1" href="#" role="button">
              <span aria-hidden="true">
                <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
  c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
  c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
              </span>
              <span class="sr-only">
                <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
  c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
  c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
              </span>
            </a>
            <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-2" href="#" role="button">
              <span aria-hidden="true">
                <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
  L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
  c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
              </span>
              <span class="sr-only">
                <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
  L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
  c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
              </span>
            </a>
          </div>
          <a href="https://nicepage.com/k/retro-website-templates" class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-custom-font u-hover-palette-2-dark-1 u-palette-2-base u-radius-10 u-text-body-alt-color u-btn-1">
            <span style="font-size: 1rem;">Oglejte si vse teme</span><span class="u-icon u-text-white u-icon-1"><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" style="width: 1em; height: 1em;"><path d="M441.156,322.876l-48.666-47.386c-3.319-3.243-8.619-3.234-11.93,0.017l-81.894,80.299V8.533 c0-4.71-3.823-8.533-8.533-8.533h-68.267c-4.71,0-8.533,3.823-8.533,8.533v347.273l-81.894-80.299    c-3.311-3.243-8.602-3.251-11.921-0.017l-48.666,47.386c-1.655,1.604-2.586,3.806-2.586,6.11c0,2.304,0.939,4.506,2.586,6.11 l179.2,174.481c1.655,1.613,3.806,2.423,5.948,2.423c2.15,0,4.292-0.811,5.956-2.423l179.2-174.481 c1.647-1.604,2.577-3.806,2.577-6.11C443.733,326.682,442.803,324.48,441.156,322.876z"></path></svg><img></span>
          </a>
        </div>
      
      
      
      
      
      
    </section>
    <!-- ! Your collection -->
    <section class="u-align-center u-clearfix u-white u-section-4" id="carousel_b4fc">
      <div class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-align-left-xs u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-left u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-1">Vasa zbirka (if signed in)</h2>
        <p class="u-align-left u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-2">Prikazanih je le 6 vzorcev iz vase zbirka. Kliknite spodaj da si ogledate vso!&nbsp;</p>
        <a href="https://nicepage.com/css-templates" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-hover-white u-btn-1">POJDITE NA VASO ZBIRKO</a>
        <h3 class="u-align-left u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-3">Vasi kovanci</h3>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-1">
                <div class="u-border-1 u-border-grey-75 u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xl u-expanded-width-xs u-group u-hover-feature u-shape-rectangle u-group-1">
                  <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-2">
                    <img class="u-align-center u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-hover-feature u-image u-image-circle u-image-contain u-preserve-proportions u-image-1" src="images/imgbin_old-u-s-mint-gold-coin-israeli-new-shekel-one-rupee-png.png" alt="" data-image-width="500" data-image-height="500">
                    <h4 class="u-text u-text-4">Ime kovanca</h4>
                    <p class="u-text u-text-5">Zelo kratek opis kovanca, v dveh vrsitcah, ali treh c</p>
                    <p class="u-small-text u-text u-text-variant u-text-6">Letnica: 20.5.2022<br>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-3">
                <div class="u-border-1 u-border-grey-75 u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xl u-expanded-width-xs u-group u-hover-feature u-shape-rectangle u-group-2">
                  <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-4">
                    <img class="u-align-center u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-hover-feature u-image u-image-circle u-image-contain u-preserve-proportions u-image-2" src="images/PngItem_636333.png" alt="" data-image-width="829" data-image-height="799">
                    <h4 class="u-text u-text-7">Sample Headline</h4>
                    <p class="u-text u-text-8">Sample text. Click to select the Text Element.</p>
                    <p class="u-small-text u-text u-text-variant u-text-9">Sample small text. Lorem&nbsp;</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-5">
                <div class="u-border-1 u-border-grey-75 u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xl u-expanded-width-xs u-group u-hover-feature u-shape-rectangle u-group-3">
                  <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-6">
                    <img class="u-align-center u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-hover-feature u-image u-image-circle u-image-contain u-preserve-proportions u-image-3" src="images/kindpng_1318180.png" alt="" data-image-width="1108" data-image-height="1116">
                    <h4 class="u-text u-text-10">Sample Headline</h4>
                    <p class="u-text u-text-11">Sample text. Click to select the Text Element.</p>
                    <p class="u-small-text u-text u-text-variant u-text-12">Sample small text. Lorem&nbsp;</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-7">
                <div class="u-border-1 u-border-grey-75 u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xl u-expanded-width-xs u-group u-hover-feature u-shape-rectangle u-group-4">
                  <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-8">
                    <img class="u-align-center u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-hover-feature u-image u-image-circle u-image-contain u-preserve-proportions u-image-4" src="images/coin2.png" alt="" data-image-width="1920" data-image-height="1920">
                    <h4 class="u-text u-text-13">Sample Headline</h4>
                    <p class="u-text u-text-14">Sample text. Click to select the Text Element.</p>
                    <p class="u-small-text u-text u-text-variant u-text-15">Sample small text. Lorem&nbsp;</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h3 class="u-align-left u-text u-text-16">Vasi bankovci</h3>
        <div class="u-expanded-width u-list u-list-2">
          <div class="u-repeater u-repeater-2">
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top-xl u-valign-top-xxl u-container-layout-9">
                <div class="u-border-1 u-border-grey-75 u-container-style u-expanded-width u-group u-hover-feature u-shape-rectangle u-group-5">
                  <div class="u-container-layout u-container-layout-10">
                    <img class="u-hover-feature u-image u-image-contain u-image-default u-image-5" src="images/a6edacfdaba830aff2403be1ee44c2f4f89416c231d0f7443db62b1b182e2a757a0866e0713e84c8641e867c9abd93533a417d8b4f3f8f9d284d43_1280.jpg" alt="" data-image-width="1280" data-image-height="541">
                    <h4 class="u-text u-text-default-lg u-text-default-md u-text-default-xl u-text-17">Ime bankovca</h4>
                    <p class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-18">Zelo kratek opis kovanca, v dveh vrsitcah, ali treh c</p>
                    <p class="u-small-text u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-variant u-text-19">Letnica: 20.5.2022<br>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top-xl u-valign-top-xxl u-container-layout-11">
                <div class="u-border-1 u-border-grey-75 u-container-style u-expanded-width u-group u-hover-feature u-shape-rectangle u-group-6">
                  <div class="u-container-layout u-container-layout-12">
                    <img class="u-hover-feature u-image u-image-contain u-image-default u-image-6" src="images/banknote.2.png" alt="" data-image-width="660" data-image-height="279">
                    <h4 class="u-text u-text-default-lg u-text-default-md u-text-default-xl u-text-20">Ime kovanca</h4>
                    <p class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-21">Zelo kratek opis kovanca, v dveh vrsitcah, ali treh c</p>
                    <p class="u-small-text u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-variant u-text-22">Letnica: 20.5.2022<br>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top-xl u-valign-top-xxl u-container-layout-13">
                <div class="u-border-1 u-border-grey-75 u-container-style u-expanded-width u-group u-hover-feature u-shape-rectangle u-group-7">
                  <div class="u-container-layout u-container-layout-14">
                    <img class="u-hover-feature u-image u-image-contain u-image-default u-image-7" src="images/banknote.png" alt="" data-image-width="840" data-image-height="435">
                    <h4 class="u-text u-text-default-lg u-text-default-md u-text-default-xl u-text-23">Ime kovanca</h4>
                    <p class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-24">Zelo kratek opis kovanca, v dveh vrsitcah, ali treh c</p>
                    <p class="u-small-text u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-variant u-text-25">Letnica: 20.5.2022<br>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </section>
    <!-- ! Log in -->
    <section class="u-align-center u-clearfix u-image u-image-tiles u-shading u-section-5" src="" id="sec-58b1" data-image-width="660" data-image-height="279">
      <div class="u-align-center u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-valign-middle-xs u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">Prijavite se,("/?next/collectinon/")<br>da dobite dostop do vase zbirke
        </h2>
        <p class="u-text u-text-2">Prijavite se in preglejte svojo zbirko. Ali pa ustvarite nov racun in zacnite vaso zbirko</p>
        <a href="#" class="u-border-2 u-border-hover-white u-border-white u-btn u-button-style u-custom-color-3 u-hover-white u-text-body-alt-color u-text-hover-black u-btn-1">Prijavi se</a>
      </div>
    </section>
    <!-- ! Statistics -->
    <section class="u-clearfix u-custom-color-5 u-section-6" id="carousel_0008" style="overflow: hidden;">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-1">Statistika</h2>
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-26-lg u-size-26-xl u-size-31-md u-size-31-sm u-size-31-xs u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <img class="u-image u-image-circle u-image-contain u-image-1" src="images/Obverse_-_10_Pahlavi_Golden_Coin_19761.jpeg" alt="" data-image-width="1920" data-image-height="1901">
                  <h3 class="u-custom-font u-font-pt-sans u-text u-text-default u-text-2">Po treh letih obratovanja smo skupaj zbrali ogromno kolicino kovancev in bankovcev. Tukaj je pregled na spletno stranjo v stevilkah:</h3>
                  <img class="u-image u-image-circle u-image-contain u-image-2" src="images/PngItem_636333.png" alt="" data-image-width="829" data-image-height="799">
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-29-md u-size-29-sm u-size-29-xs u-size-34-lg u-size-34-xl u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <img class="u-flip-horizontal u-image u-image-circle u-image-contain u-image-3" src="images/kindpng_1318180.png" alt="" data-image-width="1108" data-image-height="1116">
                  <div class="u-expanded-width u-list u-list-1">
                    <div class="u-repeater u-repeater-1">
                      <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-3">
                          <h3 class="u-custom-font u-font-montserrat u-text u-text-custom-color-4 u-text-3" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">5k</h3>
                          <h6 class="u-custom-font u-font-montserrat u-text u-text-4">Uporabnikov z zbirkami</h6>
                        </div>
                      </div>
                      <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-4">
                          <h3 class="u-custom-font u-font-montserrat u-text u-text-custom-color-4 u-text-5" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">200</h3>
                          <h6 class="u-custom-font u-font-montserrat u-text u-text-6">Povprecna velikost zbirke</h6>
                        </div>
                      </div>
                      <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-5">
                          <h3 class="u-custom-font u-font-montserrat u-text u-text-custom-color-4 u-text-7" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">3.400</h3>
                          <h6 class="u-custom-font u-font-montserrat u-text u-text-8">Najvecja zbirka na spletni strani vsebuj vec kot 3400</h6>
                        </div>
                      </div>
                      <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-6">
                          <h3 class="u-custom-font u-font-montserrat u-text u-text-custom-color-4 u-text-9" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">15.000</h3>
                          <h6 class="u-custom-font u-font-montserrat u-text u-text-10">Kovancev in bankovcev zbranih</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="u-text u-text-11">Zbirka kovancev v stevilkah. Pregled nad stevilom uporabnikov in ostali statisticni podatki.</p>
      </div>
    </section>
  </body>
</html>
{% endblock %}