 .u-section-1 {
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  position: relative;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1332px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  width: auto;
  font-family: PassengerDisplay-Extrabold;
  font-size: 3.75rem;
  font-weight: bold;
  margin: 402px 0 0;
}

.u-section-1 .u-text-2 {
  font-family: Allerta;
  font-weight: 400;
  width: auto;
  margin: 11px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-family: Alatsi;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 11px auto 0 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1332px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-group-1 {
  width: 848px;
  height: auto;
  min-height: 1054px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 354px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-social-icons-1 {
  min-height: 16px;
  width: 116px;
  min-width: 82px;
  height: 27px;
  margin: 4px 90px 0 822px;
}

.u-section-1 .u-icon-2 {
  color: rgb(59, 89, 152) !important;
  height: 32px;
}

.u-section-1 .u-icon-3 {
  color: rgb(85, 172, 238) !important;
  height: 32px;
}

.u-section-1 .u-icon-4 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-1 .u-list-1 {
  width: 510px;
  margin: 49px auto 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 100px;
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-4 {
  padding: 5px 0 10px;
}

.u-section-1 .u-image-2 {
  width: 70px;
  height: 85px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 5px 0 10px;
}

.u-section-1 .u-image-3 {
  width: 70px;
  height: 85px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 5px 0 10px;
}

.u-section-1 .u-image-4 {
  width: 70px;
  height: 85px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 5px 0 10px;
}

.u-section-1 .u-image-5 {
  width: 70px;
  height: 85px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 5px 0 10px;
}

.u-section-1 .u-image-6 {
  width: 70px;
  height: 85px;
  margin: 0 auto;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 449px;
    font-size: 3.125rem;
    font-weight: normal;
  }

  .u-section-1 .u-text-2 {
    margin-top: 5px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-left: 7px;
    margin-right: 7px;
    font-family: Georgia, serif;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 7px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 22px;
    padding-right: 22px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1062px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-social-icons-1 {
    height: 19px;
    width: 91px;
    margin-top: 7px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-icon-4 {
    height: 32px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 16px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: NaNpx;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: NaNpx;
  }

  .u-section-1 .u-image-1 {
    height: 292px;
  }

  .u-section-1 .u-social-icons-1 {
    width: 90px;
  }

  .u-section-1 .u-list-1 {
    width: 503px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 224px;
  }

  .u-section-1 .u-list-1 {
    width: 375px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 392px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 64px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 815px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0 10px;
  }

  .u-section-1 .u-group-1 {
    min-height: 613px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 288px;
  }

  .u-section-1 .u-list-1 {
    width: 452px;
    margin-top: 46px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2070px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: NaNpx;
  }

  .u-section-1 .u-image-1 {
    height: 181px;
  }

  .u-section-1 .u-list-1 {
    width: 320px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }
} .u-section-2 {
  min-height: 1447px;
}

.u-section-2 .u-line-1 {
  transform-origin: right center 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 63px 336px 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: -36px calc(((100% - 1320px) / 2) + -10px) 0 calc(((100% - 1320px) / 2) + 890px);
}

.u-section-2 .u-group-1 {
  width: 800px;
  height: auto;
  min-height: 239px;
  margin: 41px auto 0 calc(((100% - 1320px) / 2) + 90px);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0 30px;
}

.u-section-2 .u-text-4 {
  margin: -156px 210px 0 532px;
}

.u-section-2 .u-text-5 {
  margin: 24px 214px 0 377px;
}

.u-section-2 .u-text-6 {
  margin: 29px 214px 0 381px;
}

.u-section-2 .u-group-2 {
  width: 74px;
  height: 27px;
  margin: -118px 117px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-7 {
  font-family: Allerta;
  margin: 3px 0 0;
}

.u-section-2 .u-group-3 {
  width: 74px;
  min-height: 27px;
  height: auto;
  margin: 17px 121px 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-family: Allerta;
  margin: 3px 0 0;
}

.u-section-2 .u-group-4 {
  width: 74px;
  min-height: 27px;
  height: auto;
  margin: 23px 121px 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-text-9 {
  font-family: Allerta;
  margin: 3px 0 0;
}

.u-section-2 .u-shape-1 {
  width: 250px;
  height: 219px;
  margin: -239px calc(((100% - 1320px) / 2) + 176px) 0 auto;
}

.u-section-2 .u-text-10 {
  font-size: 2.25rem;
  margin: -131px calc(((100% - 1320px) / 2) + -48px) 0 calc(((100% - 1320px) / 2) + 1174px);
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  margin: 10px calc(((100% - 1320px) / 2) + -233px) 0 calc(((100% - 1320px) / 2) + 1179px);
}

.u-section-2 .u-text-12 {
  font-weight: 400;
  margin: 187px 337px 0;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: 6px auto 0;
}

.u-section-2 .u-repeater-1 {
  min-height: 97px;
  grid-auto-columns: calc(12.5% - 8.75px);
  grid-template-columns: calc(12.5% - 8.75px) calc(12.5% - 8.75px) calc(12.5% - 8.75px) calc(12.5% - 8.75px) calc(12.5% - 8.75px) calc(12.5% - 8.75px) calc(12.5% - 8.75px) calc(12.5% - 8.75px);
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-group-5 {
  min-height: 50px;
  margin-top: 16px;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-2 .u-text-13 {
  font-family: Allerta;
  margin: 13px -8px 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 10px;
}

.u-section-2 .u-group-6 {
  min-height: 50px;
  margin-top: 16px;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 0;
}

.u-section-2 .u-text-14 {
  font-family: Allerta;
  margin: 13px -8px 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 10px;
}

.u-section-2 .u-group-7 {
  min-height: 50px;
  margin-top: 16px;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px 0;
}

.u-section-2 .u-text-15 {
  font-family: Allerta;
  margin: 13px -8px 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 10px;
}

.u-section-2 .u-group-8 {
  min-height: 50px;
  margin-top: 16px;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px 0;
}

.u-section-2 .u-text-16 {
  font-family: Allerta;
  margin: 13px -8px 0;
}

.u-section-2 .u-container-layout-13 {
  padding: 10px;
}

.u-section-2 .u-group-9 {
  min-height: 50px;
  margin-top: 16px;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-14 {
  padding: 30px 0;
}

.u-section-2 .u-text-17 {
  font-family: Allerta;
  margin: 13px -8px 0;
}

.u-section-2 .u-container-layout-15 {
  padding: 10px;
}

.u-section-2 .u-group-10 {
  min-height: 50px;
  margin-top: 16px;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-16 {
  padding: 30px 0;
}

.u-section-2 .u-text-18 {
  font-family: Allerta;
  margin: 13px -8px 0;
}

.u-section-2 .u-container-layout-17 {
  padding: 10px;
}

.u-section-2 .u-group-11 {
  min-height: 50px;
  margin-top: 16px;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-18 {
  padding: 30px 0;
}

.u-section-2 .u-text-19 {
  font-family: Allerta;
  margin: 13px -8px 0;
}

.u-section-2 .u-container-layout-19 {
  padding: 10px;
}

.u-section-2 .u-group-12 {
  min-height: 50px;
  margin-top: 16px;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-20 {
  padding: 30px 0;
}

.u-section-2 .u-text-20 {
  font-family: Allerta;
  margin: 13px -8px 0;
}

.u-section-2 .u-container-layout-21 {
  padding: 10px;
}

.u-section-2 .u-group-13 {
  min-height: 50px;
  margin-top: 16px;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-22 {
  padding: 30px 0;
}

.u-section-2 .u-text-21 {
  font-family: Allerta;
  margin: 13px -8px 0;
}

.u-section-2 .u-container-layout-23 {
  padding: 10px;
}

.u-section-2 .u-group-14 {
  min-height: 50px;
  margin-top: 16px;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-24 {
  padding: 30px 0;
}

.u-section-2 .u-text-22 {
  font-family: Allerta;
  margin: 13px -8px 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-text-23 {
  font-weight: 400;
  margin: 63px 337px 0;
}

.u-section-2 .u-list-2 {
  width: 1140px;
  margin: 30px auto 60px;
}

.u-section-2 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 479px;
}

.u-section-2 .u-container-layout-25 {
  padding: 10px;
}

.u-section-2 .u-group-15 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  min-height: 459px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-26 {
  padding: 30px 0 0;
}

.u-section-2 .u-image-1 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-text-24 {
  margin: 76px 15px 0;
}

.u-section-2 .u-text-25 {
  margin: 20px 15px 0;
}

.u-section-2 .u-text-26 {
  margin: 20px 15px 0;
}

.u-section-2 .u-container-layout-27 {
  padding: 10px;
}

.u-section-2 .u-group-16 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  min-height: 459px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-28 {
  padding: 30px 0 0;
}

.u-section-2 .u-image-2 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-text-27 {
  margin: 76px 15px 0;
}

.u-section-2 .u-text-28 {
  margin: 20px 15px 0;
}

.u-section-2 .u-text-29 {
  margin: 20px 15px 0;
}

.u-section-2 .u-container-layout-29 {
  padding: 10px;
}

.u-section-2 .u-group-17 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  min-height: 459px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-30 {
  padding: 30px 0 0;
}

.u-section-2 .u-image-3 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-text-30 {
  margin: 76px 15px 0;
}

.u-section-2 .u-text-31 {
  margin: 20px 15px 0;
}

.u-section-2 .u-text-32 {
  margin: 20px 15px 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-text-1 {
    width: 154px;
    margin-top: 70px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: calc(((100% - 1140px) / 2) + -23px);
    margin-left: calc(((100% - 1140px) / 2) + 731px);
  }

  .u-section-2 .u-group-1 {
    width: 758px;
    min-height: 237px;
    margin-top: 32px;
    margin-left: calc(((100% - 1140px) / 2));
    height: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 1px;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -158px;
    margin-right: 182px;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 27px;
    margin-right: 182px;
    margin-left: 366px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 25px;
    margin-right: 182px;
    margin-left: 374px;
  }

  .u-section-2 .u-group-2 {
    min-height: 27px;
    margin-top: -116px;
    margin-right: 93px;
    height: auto;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-group-3 {
    margin-top: 18px;
    margin-right: 93px;
    height: auto;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-group-4 {
    margin-top: 20px;
    margin-right: 93px;
    height: auto;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-shape-1 {
    width: 197px;
    height: 173px;
    margin-top: -194px;
    margin-right: calc(((100% - 1140px) / 2) + 179px);
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: -129px;
    margin-right: calc(((100% - 1140px) / 2));
    margin-left: calc(((100% - 1140px) / 2) + 975px);
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 6px;
    margin-right: calc(((100% - 1140px) / 2) + -119px);
    margin-left: calc(((100% - 1140px) / 2) + 975px);
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: 132px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-list-1 {
    margin-top: 32px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 74px;
    grid-auto-columns: calc(14.2857% - 8.57143px);
    grid-template-columns: calc(14.2857% - 8.57143px) calc(14.2857% - 8.57143px) calc(14.2857% - 8.57143px) calc(14.2857% - 8.57143px) calc(14.2857% - 8.57143px) calc(14.2857% - 8.57143px) calc(14.2857% - 8.57143px);
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 4px;
  }

  .u-section-2 .u-group-5 {
    margin-top: 11px;
    min-height: 55px;
    height: auto;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 4px;
  }

  .u-section-2 .u-group-6 {
    margin-top: 11px;
    min-height: 55px;
    height: auto;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-9 {
    padding-top: 4px;
  }

  .u-section-2 .u-group-7 {
    margin-top: 11px;
    min-height: 55px;
    height: auto;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-11 {
    padding-top: 4px;
  }

  .u-section-2 .u-group-8 {
    margin-top: 11px;
    min-height: 55px;
    height: auto;
  }

  .u-section-2 .u-text-16 {
    width: auto;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-13 {
    padding-top: 4px;
  }

  .u-section-2 .u-group-9 {
    margin-top: 11px;
    min-height: 55px;
    height: auto;
  }

  .u-section-2 .u-text-17 {
    width: auto;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-15 {
    padding-top: 4px;
  }

  .u-section-2 .u-group-10 {
    margin-top: 11px;
    min-height: 55px;
    height: auto;
  }

  .u-section-2 .u-text-18 {
    width: auto;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-17 {
    padding-top: 4px;
  }

  .u-section-2 .u-group-11 {
    margin-top: 11px;
    min-height: 55px;
    height: auto;
  }

  .u-section-2 .u-text-19 {
    width: auto;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-19 {
    padding-top: 4px;
  }

  .u-section-2 .u-group-12 {
    margin-top: 11px;
    min-height: 55px;
    height: auto;
  }

  .u-section-2 .u-text-20 {
    width: auto;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-21 {
    padding-top: 4px;
  }

  .u-section-2 .u-group-13 {
    margin-top: 11px;
    min-height: 55px;
    height: auto;
  }

  .u-section-2 .u-text-21 {
    width: auto;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-23 {
    padding-top: 4px;
  }

  .u-section-2 .u-group-14 {
    margin-top: 11px;
    min-height: 55px;
    height: auto;
  }

  .u-section-2 .u-text-22 {
    width: auto;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-23 {
    width: auto;
    margin-top: 64px;
    margin-right: 969px;
    margin-left: 50px;
  }

  .u-section-2 .u-list-2 {
    margin-top: -12px;
  }

  .u-section-2 .u-group-15 {
    min-height: 414px;
    transition-duration: 0.25s;
    height: auto;
  }

  .u-section-2 .u-image-1 {
    height: 182px;
    transition-duration: 0.5s;
  }

  .u-section-2 .u-text-24 {
    width: auto;
  }

  .u-section-2 .u-text-26 {
    width: auto;
  }

  .u-section-2 .u-group-16 {
    min-height: 414px;
    transition-duration: 0.25s;
    height: auto;
  }

  .u-section-2 .u-image-2 {
    height: 182px;
    transition-duration: 0.5s;
  }

  .u-section-2 .u-text-27 {
    width: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-28 {
    margin-right: auto;
  }

  .u-section-2 .u-text-29 {
    width: auto;
    margin-right: auto;
  }

  .u-section-2 .u-group-17 {
    min-height: 414px;
    transition-duration: 0.25s;
    height: auto;
  }

  .u-section-2 .u-image-3 {
    height: 182px;
    transition-duration: 0.5s;
  }

  .u-section-2 .u-text-30 {
    width: auto;
  }

  .u-section-2 .u-text-32 {
    width: auto;
  }
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1127px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 277px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + -29px);
    margin-left: calc(((100% - 940px) / 2) + 625px);
  }

  .u-section-2 .u-group-1 {
    width: 609px;
    margin-top: 6px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-4 {
    margin-top: -155px;
    margin-right: 110px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 110px;
    margin-left: 289px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 110px;
    margin-left: 297px;
  }

  .u-section-2 .u-group-2 {
    margin-right: 21px;
  }

  .u-section-2 .u-group-3 {
    margin-right: 21px;
  }

  .u-section-2 .u-group-4 {
    margin-right: 21px;
  }

  .u-section-2 .u-shape-1 {
    width: 148px;
    height: 130px;
    margin-top: -205px;
    margin-right: calc(((100% - 940px) / 2) + 167px);
  }

  .u-section-2 .u-text-10 {
    margin-top: -122px;
    margin-right: calc(((100% - 940px) / 2) + -39px);
    margin-left: calc(((100% - 940px) / 2) + 775px);
  }

  .u-section-2 .u-text-11 {
    margin-top: 0;
    margin-right: 0;
    margin-left: calc(((100% - 940px) / 2) + 776px);
  }

  .u-section-2 .u-text-12 {
    margin-top: 159px;
    margin-right: auto;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-top: 18px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 91px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-group-5 {
    min-height: 59px;
    width: 116px;
    margin-top: 18px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-13 {
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-group-6 {
    min-height: 59px;
    width: 116px;
    margin-top: 18px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-14 {
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-group-7 {
    min-height: 59px;
    width: 116px;
    margin-top: 18px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-15 {
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-group-8 {
    min-height: 59px;
    width: 116px;
    margin-top: 18px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-16 {
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-group-9 {
    min-height: 59px;
    width: 116px;
    margin-top: 18px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-17 {
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-group-10 {
    min-height: 59px;
    width: 116px;
    margin-top: 18px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-18 {
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-17 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-group-11 {
    min-height: 59px;
    width: 116px;
    margin-top: 18px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-19 {
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-19 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-group-12 {
    min-height: 59px;
    width: 116px;
    margin-top: 18px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-20 {
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-21 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-group-13 {
    min-height: 59px;
    width: 116px;
    margin-top: 18px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-21 {
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-23 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-group-14 {
    min-height: 59px;
    width: 116px;
    margin-top: 18px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-22 {
    margin-top: 0;
  }

  .u-section-2 .u-text-23 {
    margin-top: 51px;
    margin-right: 278px;
  }

  .u-section-2 .u-list-2 {
    width: 940px;
    margin-top: 0;
    margin-bottom: 46px;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 434px;
  }

  .u-section-2 .u-image-1 {
    height: 150px;
  }

  .u-section-2 .u-text-25 {
    margin-right: 0;
  }

  .u-section-2 .u-text-26 {
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 150px;
  }

  .u-section-2 .u-text-27 {
    margin-left: 8px;
  }

  .u-section-2 .u-text-28 {
    margin-left: 8px;
  }

  .u-section-2 .u-text-29 {
    margin-left: 8px;
  }

  .u-section-2 .u-image-3 {
    height: 150px;
  }

  .u-section-2 .u-text-31 {
    margin-right: 0;
  }

  .u-section-2 .u-text-32 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1539px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 212px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: calc(((100% - 720px) / 2) + 500px);
  }

  .u-section-2 .u-group-1 {
    width: 479px;
    min-height: 283px;
    margin-top: -36px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-3 {
    margin-top: 0;
    margin-left: 4px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -157px;
    margin-right: 87px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 28px;
    margin-right: 87px;
    margin-left: 280px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 21px;
    margin-right: 87px;
    margin-left: 262px;
  }

  .u-section-2 .u-group-2 {
    margin-top: -156px;
    margin-right: 0;
  }

  .u-section-2 .u-group-3 {
    margin-top: 34px;
    margin-right: 0;
  }

  .u-section-2 .u-group-4 {
    margin-top: 34px;
    margin-right: 0;
  }

  .u-section-2 .u-shape-1 {
    width: 87px;
    height: 67px;
    margin-top: -229px;
    margin-right: calc(((100% - 720px) / 2) + 106px);
  }

  .u-section-2 .u-text-10 {
    margin-top: -73px;
    margin-right: calc(((100% - 720px) / 2) + -23px);
    margin-left: calc(((100% - 720px) / 2) + 629px);
  }

  .u-section-2 .u-text-11 {
    margin-top: 6px;
    margin-right: calc(((100% - 720px) / 2) + -21px);
    margin-left: calc(((100% - 720px) / 2) + 527px);
  }

  .u-section-2 .u-text-12 {
    margin-top: 87px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    margin-top: 28px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 71px;
    grid-auto-columns: calc(25% - 7.5px);
    grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  }

  .u-section-2 .u-group-5 {
    min-height: 44px;
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-2 .u-group-6 {
    min-height: 44px;
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-2 .u-group-7 {
    min-height: 44px;
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-2 .u-group-8 {
    min-height: 44px;
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-2 .u-group-9 {
    min-height: 44px;
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-2 .u-group-10 {
    min-height: 44px;
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-2 .u-group-11 {
    min-height: 44px;
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-2 .u-group-12 {
    min-height: 44px;
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-2 .u-group-13 {
    min-height: 44px;
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-2 .u-group-14 {
    min-height: 44px;
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-2 .u-text-23 {
    margin-top: 43px;
    margin-right: calc(((100% - 720px) / 2) + 163px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-list-2 {
    width: 720px;
    margin-bottom: 33px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 933px;
  }

  .u-section-2 .u-image-1 {
    height: 115px;
  }

  .u-section-2 .u-image-2 {
    height: 115px;
  }

  .u-section-2 .u-image-3 {
    height: 115px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 2978px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 159px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-top: 501px;
    margin-right: calc(((100% - 540px) / 2) + 83px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    min-height: 435px;
    margin-top: -531px;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 44px;
    margin-right: auto;
    margin-left: 104px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 23px;
    margin-right: 388px;
    margin-left: 40px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 22px;
    margin-right: 388px;
    margin-left: 20px;
  }

  .u-section-2 .u-group-2 {
    margin-top: -150px;
    margin-right: auto;
    margin-left: 205px;
  }

  .u-section-2 .u-group-3 {
    margin-top: 26px;
    margin-right: auto;
    margin-left: 205px;
  }

  .u-section-2 .u-group-4 {
    margin-top: 38px;
    margin-right: auto;
    margin-left: 205px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 143px;
    margin-right: auto;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-10 {
    margin-top: -55px;
    margin-right: calc(((100% - 540px) / 2) + 200px);
    margin-left: calc(((100% - 540px) / 2) + 127px);
  }

  .u-section-2 .u-text-11 {
    margin-top: 15px;
    margin-right: calc(((100% - 540px) / 2) + 183px);
    margin-left: calc(((100% - 540px) / 2) + 127px);
  }

  .u-section-2 .u-text-12 {
    margin-top: 67px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-top: 12px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 84px;
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  }

  .u-section-2 .u-group-5 {
    min-height: 55px;
    margin-top: 15px;
  }

  .u-section-2 .u-group-6 {
    min-height: 55px;
    margin-top: 15px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-group-7 {
    min-height: 55px;
    margin-top: 15px;
  }

  .u-section-2 .u-group-8 {
    min-height: 55px;
    margin-top: 15px;
  }

  .u-section-2 .u-group-9 {
    min-height: 55px;
    margin-top: 15px;
  }

  .u-section-2 .u-group-10 {
    min-height: 55px;
    margin-top: 15px;
  }

  .u-section-2 .u-group-11 {
    min-height: 55px;
    margin-top: 15px;
  }

  .u-section-2 .u-group-12 {
    min-height: 55px;
    margin-top: 15px;
  }

  .u-section-2 .u-group-13 {
    min-height: 55px;
    margin-top: 15px;
  }

  .u-section-2 .u-group-14 {
    min-height: 55px;
    margin-top: 15px;
  }

  .u-section-2 .u-text-23 {
    margin-top: 52px;
    margin-right: calc(((100% - 540px) / 2) + 110px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-list-2 {
    width: 540px;
    margin-top: 1px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-group-15 {
    min-height: 424px;
  }

  .u-section-2 .u-image-1 {
    height: auto;
  }

  .u-section-2 .u-text-24 {
    margin-top: 52px;
    margin-right: 360px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-25 {
    width: auto;
    margin-right: 71px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-26 {
    margin-right: 382px;
    margin-left: 18px;
  }

  .u-section-2 .u-image-2 {
    height: auto;
  }

  .u-section-2 .u-text-27 {
    margin-top: 52px;
    margin-right: 360px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-28 {
    width: auto;
    margin-right: 71px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-29 {
    margin-right: 382px;
    margin-left: 18px;
  }

  .u-section-2 .u-image-3 {
    height: auto;
  }

  .u-section-2 .u-text-30 {
    margin-top: 52px;
    margin-right: 360px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-31 {
    width: auto;
    margin-right: 71px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-32 {
    margin-right: 382px;
    margin-left: 18px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 3500px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 100px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-top: 444px;
    margin-right: calc(((100% - 340px) / 2) + -16px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: -464px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 38px;
    margin-right: 132px;
    margin-left: 159px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 31px;
    margin-right: 126px;
    margin-left: 4px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 26px;
    margin-right: 118px;
    margin-left: 15px;
  }

  .u-section-2 .u-group-2 {
    margin-top: -123px;
    margin-right: 38px;
    margin-left: auto;
  }

  .u-section-2 .u-group-3 {
    margin-right: 39px;
    margin-left: auto;
  }

  .u-section-2 .u-group-4 {
    margin-top: 22px;
    margin-right: 38px;
    margin-left: auto;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 62px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-10 {
    font-size: 1.5rem;
    margin-top: -61px;
    margin-right: calc(((100% - 340px) / 2) + 105px);
    margin-left: calc(((100% - 340px) / 2) + 105px);
  }

  .u-section-2 .u-text-11 {
    margin-top: 8px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 110px);
  }

  .u-section-2 .u-text-12 {
    margin-top: 52px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-list-1 {
    width: 405px;
    margin-top: 15px;
  }

  .u-section-2 .u-group-5 {
    min-height: 39px;
    margin-top: 22px;
  }

  .u-section-2 .u-group-6 {
    min-height: 39px;
    margin-top: 22px;
  }

  .u-section-2 .u-group-7 {
    min-height: 39px;
    margin-top: 22px;
  }

  .u-section-2 .u-group-8 {
    min-height: 39px;
    margin-top: 22px;
  }

  .u-section-2 .u-group-9 {
    min-height: 39px;
    margin-top: 22px;
  }

  .u-section-2 .u-group-10 {
    min-height: 39px;
    margin-top: 22px;
  }

  .u-section-2 .u-group-11 {
    min-height: 39px;
    margin-top: 22px;
  }

  .u-section-2 .u-group-12 {
    min-height: 39px;
    margin-top: 22px;
  }

  .u-section-2 .u-group-13 {
    min-height: 39px;
    margin-top: 22px;
  }

  .u-section-2 .u-group-14 {
    min-height: 39px;
    margin-top: 22px;
  }

  .u-section-2 .u-text-23 {
    margin-top: 40px;
    margin-right: calc(((100% - 340px) / 2) + 51px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-list-2 {
    width: 340px;
    margin-top: 35px;
  }

  .u-section-2 .u-image-1 {
    height: NaNpx;
  }

  .u-section-2 .u-text-24 {
    margin-right: 131px;
  }

  .u-section-2 .u-text-25 {
    margin-right: 0;
  }

  .u-section-2 .u-text-26 {
    margin-right: 182px;
  }

  .u-section-2 .u-image-2 {
    height: NaNpx;
  }

  .u-section-2 .u-text-27 {
    margin-right: 131px;
  }

  .u-section-2 .u-text-28 {
    margin-right: 0;
  }

  .u-section-2 .u-text-29 {
    margin-right: 182px;
  }

  .u-section-2 .u-image-3 {
    height: NaNpx;
  }

  .u-section-2 .u-text-30 {
    margin-right: 131px;
  }

  .u-section-2 .u-text-31 {
    margin-right: 0;
  }

  .u-section-2 .u-text-32 {
    margin-right: 182px;
  }
}

.u-section-2 .u-image-3,
.u-section-2 .u-image-3:before,
.u-section-2 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(1.68) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-3.u-image-3.u-image-3.hover {
  transform: scale(1.68) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.68) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.68) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-2,
.u-section-2 .u-image-2:before,
.u-section-2 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.68) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.68) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-group-15,
.u-section-2 .u-group-15:before,
.u-section-2 .u-group-15 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-group-15 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-2 .u-group-15 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-group-16,
.u-section-2 .u-group-16:before,
.u-section-2 .u-group-16 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-group-16 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-2 .u-group-16 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-group-17,
.u-section-2 .u-group-17:before,
.u-section-2 .u-group-17 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-group-17 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-2 .u-group-17 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}@font-face {
  font-family: 'PassengerDisplay-Extrabold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/PassengerDisplay-Extrabold.ttf);
}