{% extends "main.html" %}
{% load static %}

<body class="u-body u-xxl-mode" data-lang="en">
    <section class="u-clearfix u-section-1" id="sec-daab">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <div class="u-container-style u-expanded-width u-group u-shape-rectangle u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <div class="u-form u-form-1">
              <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;">
                <div class="u-form-group u-form-name u-label-top">
                  <label for="name-eabf" class="u-custom-font u-label u-label-1">Isci med zbirkami uporabnika Vida</label>
                  <input type="text" placeholder="Isci..." id="name-eabf" name="q" class="u-border-1 u-border-black u-input u-input-rectangle u-radius-50 u-white u-input-1" autofocus="autofocus">
                </div>
                <div class="u-align-right u-form-group u-form-submit u-label-top">
                  <a href="#" class="u-btn u-btn-submit u-button-style u-none u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-1">Submit</a>
                  <input type="submit" value="submit" class="u-form-control-hidden">
                </div>
                <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                <input type="hidden" value="" name="recaptchaResponse">
              </form>
            </div>
            <h4 class="u-custom-font u-font-oswald u-text u-text-1">Filtriraj:</h4>
            <div class="u-form u-form-2">
              <form action="#" method="POST" class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form" source="custom" name="form" style="padding: 10px;">
                <div class="u-form-group u-form-name u-label-top">
                  <label for="name-eabf" class="u-custom-font u-font-oswald u-label u-label-2">Kraj izvora</label>
                  <input type="text" placeholder="Isci..." id="name-eabf" name="q" class="u-border-1 u-border-black u-input u-input-rectangle u-radius-6 u-white u-input-2" autofocus="autofocus">
                </div>
                <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                <input type="hidden" value="" name="recaptchaResponse">
              </form>
            </div>
            <div class="u-form u-form-3">
              <form action="#" method="POST" class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form" source="custom" name="form" style="padding: 10px;">
                <div class="u-form-group u-form-name u-label-top">
                  <label for="name-eabf" class="u-custom-font u-font-oswald u-label u-label-3">Letnica</label>
                  <input type="text" placeholder="Isci..." id="name-eabf" name="q" class="u-border-1 u-border-black u-input u-input-rectangle u-radius-6 u-white u-input-3" autofocus="autofocus">
                </div>
                <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                <input type="hidden" value="" name="recaptchaResponse">
              </form>
            </div>
            <div class="u-form u-form-4">
              <form action="#" method="POST" class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form" source="custom" name="form" style="padding: 10px;">
                <div class="u-form-group u-form-name u-label-top">
                  <label for="name-eabf" class="u-custom-font u-font-oswald u-label u-label-4">Vrednost</label>
                  <input type="text" placeholder="Isci..." id="name-eabf" name="q" class="u-border-1 u-border-black u-input u-input-rectangle u-radius-6 u-white u-input-4" autofocus="autofocus">
                </div>
                <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                <input type="hidden" value="" name="recaptchaResponse">
              </form>
            </div>
            <div class="u-form u-form-5">
              <form action="#" method="POST" class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form" source="custom" name="form" style="padding: 10px;">
                <div class="u-form-group u-form-name u-label-top">
                  <label for="name-eabf" class="u-custom-font u-font-oswald u-label u-label-5">Vrsta</label>
                  <input type="text" placeholder="Isci..." id="name-eabf" name="q" class="u-border-1 u-border-black u-input u-input-rectangle u-radius-6 u-white u-input-5" autofocus="autofocus">
                </div>
                <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                <input type="hidden" value="" name="recaptchaResponse">
              </form>
            </div>
            <h4 class="u-custom-font u-font-oswald u-text u-text-2">Pokazi le:</h4>
            <div class="u-form u-form-6">
              <form action="#" method="POST" class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form" source="custom" name="form" style="padding: 10px;">
                <div class="u-form-checkbox u-form-group u-form-group-7">
                  <input type="checkbox" id="checkbox-a8b1" name="checkbox" value="On">
                  <label for="checkbox-a8b1" class="u-custom-font u-heading-font u-label">Mojo zbirko</label>
                </div>
                <div class="u-form-checkbox u-form-group u-form-group-8">
                  <input type="checkbox" id="checkbox-e706" name="checkbox-1" value="On">
                  <label for="checkbox-e706" class="u-custom-font u-heading-font u-label">Denar v obtoku</label>
                </div>
                <div class="u-form-checkbox u-form-group u-form-group-9">
                  <input type="checkbox" id="checkbox-373b" name="checkbox-2" value="On">
                  <label for="checkbox-373b" class="u-custom-font u-heading-font u-label">Spominski/Priloznostni</label>
                </div>
                <div class="u-form-checkbox u-form-group u-form-group-10">
                  <input type="checkbox" id="checkbox-589d" name="checkbox-3" value="On">
                  <label for="checkbox-589d" class="u-custom-font u-heading-font u-label">Najnovejse</label>
                </div>
                <div class="u-align-right u-form-group u-form-submit u-label-top">
                  <a href="#" class="u-btn u-btn-submit u-button-style u-none u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-2">Submit</a>
                  <input type="submit" value="submit" class="u-form-control-hidden">
                </div>
                <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                <input type="hidden" value="" name="recaptchaResponse">
              </form>
            </div>
            <div class="u-border-1 u-border-grey-50 u-expanded-width u-line u-line-horizontal u-line-1"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-white u-section-2" id="sec-71c0">
      <div class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-align-left-xs u-clearfix u-sheet u-sheet-1">
        <a href="https://nicepage.one" class="u-border-1 u-border-black u-btn u-btn-round u-button-style u-hover-black u-none u-radius-6 u-text-hover-white u-btn-1">Izberi kovance</a>
        <p class="u-align-left u-text u-text-default-lg u-text-default-xl u-text-1">Prikazanih je 20 rezultatov</p>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-valign-top-xs u-container-layout-1">
                <div class="u-border-1 u-border-grey-75 u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xl u-expanded-width-xs u-group u-hover-feature u-shape-rectangle u-group-1">
                  <div class="u-container-layout u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-valign-top-xs u-container-layout-2">
                    <img class="u-hover-feature u-image u-image-circle u-image-contain u-preserve-proportions u-image-1" src="images/coin2.png" alt="" data-image-width="1920" data-image-height="1920">
                    <h4 class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-2">Ime kovanca</h4>
                    <p class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-3">Zelo kratek opis kovanca, v dveh vrsitcah, ali treh c</p>
                    <p class="u-small-text u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-variant u-text-4">Letnica: 20.5.2022<br>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-valign-top-xs u-container-layout-3">
                <div class="u-border-1 u-border-grey-75 u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xl u-expanded-width-xs u-group u-hover-feature u-shape-rectangle u-group-2">
                  <div class="u-container-layout u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-valign-top-xs u-container-layout-4">
                    <img class="u-hover-feature u-image u-image-circle u-image-contain u-preserve-proportions u-image-2" src="images/imgbin_old-u-s-mint-gold-coin-israeli-new-shekel-one-rupee-png.png" alt="" data-image-width="500" data-image-height="500">
                    <h4 class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-5">Sample Headline</h4>
                    <p class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-6">Sample text. Click to select the Text Element.</p>
                    <p class="u-small-text u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-variant u-text-7">Sample small text. Lorem&nbsp;</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-valign-top-xs u-container-layout-5">
                <div class="u-border-1 u-border-grey-75 u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xl u-expanded-width-xs u-group u-hover-feature u-shape-rectangle u-group-3">
                  <div class="u-container-layout u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-valign-top-xs u-container-layout-6">
                    <img class="u-hover-feature u-image u-image-circle u-image-contain u-preserve-proportions u-image-3" src="images/Obverse_-_10_Pahlavi_Golden_Coin_19761.jpeg" alt="" data-image-width="1920" data-image-height="1901">
                    <h4 class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-8">Sample Headline</h4>
                    <p class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-9">Sample text. Click to select the Text Element.</p>
                    <p class="u-small-text u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-variant u-text-10">Sample small text. Lorem&nbsp;</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-valign-top-xs u-container-layout-7">
                <div class="u-border-1 u-border-grey-75 u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xl u-expanded-width-xs u-group u-hover-feature u-shape-rectangle u-group-4">
                  <div class="u-container-layout u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-valign-top-xs u-container-layout-8">
                    <img class="u-hover-feature u-image u-image-circle u-image-contain u-preserve-proportions u-image-4" src="images/coin2.png" alt="" data-image-width="1920" data-image-height="1920">
                    <h4 class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-11">Sample Headline</h4>
                    <p class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-12">Sample text. Click to select the Text Element.</p>
                    <p class="u-small-text u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-variant u-text-13">Sample small text. Lorem&nbsp;</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-expanded-width u-list u-list-2">
          <div class="u-repeater u-repeater-2">
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-9">
                <div class="u-border-1 u-border-grey-75 u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xl u-expanded-width-xs u-group u-hover-feature u-shape-rectangle u-group-5">
                  <div class="u-container-layout u-container-layout-10">
                    <img class="u-align-center-sm u-align-center-xs u-expanded-width-xxl u-hover-feature u-image u-image-default u-preserve-proportions u-image-5" src="images/image6.png" alt="" data-image-width="1383" data-image-height="600">
                    <h4 class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-14">Ime bankovca</h4>
                    <p class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-15">Zelo kratek opis kovanca, v dveh vrsitcah, ali treh c</p>
                    <p class="u-small-text u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-variant u-text-16">Letnica: 20.5.2022<br>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-11">
                <div class="u-border-1 u-border-grey-75 u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xl u-expanded-width-xs u-group u-hover-feature u-shape-rectangle u-group-6">
                  <div class="u-container-layout u-container-layout-12">
                    <img class="u-align-center-sm u-align-center-xs u-expanded-width-xxl u-hover-feature u-image u-image-contain u-image-default u-preserve-proportions u-image-6" src="images/banknote.png" alt="" data-image-width="840" data-image-height="435">
                    <h4 class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-17">Ime kovanca</h4>
                    <p class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-18">Zelo kratek opis kovanca, v dveh vrsitcah, ali treh c</p>
                    <p class="u-small-text u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-variant u-text-19">Letnica: 20.5.2022<br>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-13">
                <div class="u-border-1 u-border-grey-75 u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xl u-expanded-width-xs u-group u-hover-feature u-shape-rectangle u-group-7">
                  <div class="u-container-layout u-container-layout-14">
                    <img class="u-align-center-sm u-align-center-xs u-expanded-width-xxl u-hover-feature u-image u-image-contain u-image-default u-preserve-proportions u-image-7" src="images/a6edacfdaba830aff2403be1ee44c2f4f89416c231d0f7443db62b1b182e2a757a0866e0713e84c8641e867c9abd93533a417d8b4f3f8f9d284d43_1280.jpg" alt="" data-image-width="1280" data-image-height="541">
                    <h4 class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-20">Ime kovanca</h4>
                    <p class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-21">Zelo kratek opis kovanca, v dveh vrsitcah, ali treh c</p>
                    <p class="u-small-text u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-variant u-text-22">Letnica: 20.5.2022<br>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    </section>
    
    
    <footer class="u-align-center-md u-align-center-sm u-align-center-xs u-clearfix u-footer u-grey-80" id="sec-fb45"><div class="u-clearfix u-sheet u-sheet-1">
        <a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="80" data-image-height="40">
          <img src="images/default-logo.png" class="u-logo-image u-logo-image-1">
        </a>
        <div class="u-align-left u-social-icons u-spacing-10 u-social-icons-1">
          <a class="u-social-url" title="facebook" target="_blank" href=""><span class="u-icon u-social-facebook u-social-icon u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-c71f"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-c71f"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2
            c0-6.7,3.1-17,17-17h12.5v13.9H73.5z"></path></svg></span>
          </a>
          <a class="u-social-url" title="twitter" target="_blank" href=""><span class="u-icon u-social-icon u-social-twitter u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-3398"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-3398"><circle fill="currentColor" class="st0" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M83.8,47.3c0,0.6,0,1.2,0,1.7c0,17.7-13.5,38.2-38.2,38.2C38,87.2,31,85,25,81.2c1,0.1,2.1,0.2,3.2,0.2
            c6.3,0,12.1-2.1,16.7-5.7c-5.9-0.1-10.8-4-12.5-9.3c0.8,0.2,1.7,0.2,2.5,0.2c1.2,0,2.4-0.2,3.5-0.5c-6.1-1.2-10.8-6.7-10.8-13.1
            c0-0.1,0-0.1,0-0.2c1.8,1,3.9,1.6,6.1,1.7c-3.6-2.4-6-6.5-6-11.2c0-2.5,0.7-4.8,1.8-6.7c6.6,8.1,16.5,13.5,27.6,14
            c-0.2-1-0.3-2-0.3-3.1c0-7.4,6-13.4,13.4-13.4c3.9,0,7.3,1.6,9.8,4.2c3.1-0.6,5.9-1.7,8.5-3.3c-1,3.1-3.1,5.8-5.9,7.4
            c2.7-0.3,5.3-1,7.7-2.1C88.7,43,86.4,45.4,83.8,47.3z"></path></svg></span>
          </a>
          <a class="u-social-url" title="instagram" target="_blank" href=""><span class="u-icon u-social-icon u-social-instagram u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-00df"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-00df"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2
            z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z"></path><path fill="#FFFFFF" d="M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z"></path><path fill="#FFFFFF" d="M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8
            C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5
            c5.5,0,9.9,4.5,9.9,9.9V73.3z"></path></svg></span>
          </a>
        </div>
        <p class="u-align-center-lg u-align-center-md u-align-center-xl u-text u-text-1">
          <span style="font-weight: 700;">Narejeno z&nbsp;</span><span class="u-icon"><svg class="u-svg-content" viewBox="0 0 50 50" x="0px" y="0px" style="width: 1em; height: 1em;"><path style="fill:currentColor;" d="M24.85,10.126c2.018-4.783,6.628-8.125,11.99-8.125c7.223,0,12.425,6.179,13.079,13.543
	c0,0,0.353,1.828-0.424,5.119c-1.058,4.482-3.545,8.464-6.898,11.503L24.85,48L7.402,32.165c-3.353-3.038-5.84-7.021-6.898-11.503
	c-0.777-3.291-0.424-5.119-0.424-5.119C0.734,8.179,5.936,2,13.159,2C18.522,2,22.832,5.343,24.85,10.126z"></path></svg><img></span>
          <span style="font-weight: 700;"></span>. Vid Pesko: Email: vid@pesko.si, Tel.: 064 182 101
        </p>
      </div></footer>
    <section class="u-backlink u-clearfix u-grey-80">
      <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
        <span>Website Templates</span>
      </a>
      <p class="u-text">
        <span>created with</span>
      </p>
      <a class="u-link" href="" target="_blank">
        <span>Website Builder Software</span>
      </a>. 
    </section>
  
</body></html>